/* BASIC AND VAR */

:root {
    --main-bg-color: #141922;
    --nav-bg-color: #000000;
    --footer-bg-color: #282828;
    --main-font-color: white;
    --subtitle-font-color: grey;
    --left-nav-width: 250px;
    --footer-height: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    color: var(--main-font-color);
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
}

/* COMMON */

.width-100 {
    width: 100%;
}

.fixed {
    position: fixed;
}

.flex {
    display: flex;
}

/* MAIN */

main {
    height: calc(100% - var(--footer-height));
    background-color: var(--main-bg-color);
}

.main-content .call-to-action {
    top: 0;
    right: 0;
    z-index: 999;
    width: calc(100% - var(--left-nav-width));
    height: var(--footer-height);
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: flex-end;
}

.main-content .call-to-action .cta-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    background-color: transparent;
    margin: auto 1em;
    padding: 1em 2em;
}

main .left-nav {
    width: var(--left-nav-width);
    background-color: var(--nav-bg-color);
    flex-direction: column;
}

.logo {
    height: var(--footer-height);
}

.logo img {
    width: 60%;
    margin: auto 1em;
}

main .main-content {
    width: calc(100% - var(--left-nav-width));
}

.footer-nav {
    height: var(--footer-height);
    background-color: var(--footer-bg-color);
}